node_modules/
dist/
.env
.env.local
.env.development
.env.production
.env*.local
.DS_Store
*.log
coverage/
.vscode/
.idea/
*.pem
.cache/
.parcel-cache/
build/
.next/
out/
.nuxt/
.output/
.vercel/
.netlify/